.root {
  all: unset;
  position: absolute;
  top: 10px;
  right: 10px;
  width: max-content;
  height: max-content;
  cursor: pointer;
  z-index: 1;
  border-radius: 20%;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: block;
  width: 25px;
  height: 25px;
  fill: var(--colorGrey50);
  fill-opacity: 0.05;
  transition: all 0.2s ease-in-out;
  padding: 4px;
  & path {
    stroke: #FF6DC7;
    stroke-width: 70px;
  }
}

.bookmarked {
  fill: #FF6DC7 !important;
  fill-opacity: 1 !important;
}

@media (hover) {
  /* Smartphones and touchscreens */
  .root {
    &:hover {
      scale: 1.2;
    }
  }
}
